In [119]:
%pip install -r requirements.txt

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: langchain-community in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 1)) (0.3.29)
Requirement already satisfied: pandas in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 2)) (2.3.2)
Requirement already satisfied: python-dotenv in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 3)) (1.1.1)
Requirement already satisfied: snowflake-connector-python in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 4)) (3.17.3)
Requirement already satisfied: langgraph in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 5)) (0.6.7)
Requirement already satisfied: streamlit in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 6)) (1.49.1)
Requirement already satisfied: openai in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 7)) (1.108.0)
Requirement already satisfied: snowflake-sqlalchemy in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 8)) (1.7.7)
Requirement already satisfied: langchain-openai in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 9)) (0.3.33)
Requirement already satisfied: tiktoken in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 10)) (0.11.0)
Requirement already satisfied: langchain in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 11)) (0.3.27)
Requirement already satisfied: langchain-experimental in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 12)) (0.3.4)
Requirement already satisfied: sqlalchemy in c:\program files\python311\lib\site-packages (from -r requirements.txt (line 13)) (2.0.43)
Requirement already satisfied: accelerate in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 14)) (1.10.1)
Requirement already satisfied: hf_xet in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 15)) (1.1.10)
Requirement already satisfied: langchain_huggingface in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 16)) (0.3.1)
Requirement already satisfied: torch in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 17)) (2.8.0)
Collecting torchaudio (from -r requirements.txt (line 18))
  Using cached torchaudio-2.8.0-cp311-cp311-win_amd64.whl.metadata (7.2 kB)
Collecting torchvision (from -r requirements.txt (line 19))
  Using cached torchvision-0.23.0-cp311-cp311-win_amd64.whl.metadata (6.1 kB)
Collecting transformers==4.39.0 (from -r requirements.txt (line 20))
  Using cached transformers-4.39.0-py3-none-any.whl.metadata (134 kB)
Collecting datasets (from -r requirements.txt (line 21))
  Using cached datasets-4.2.0-py3-none-any.whl.metadata (18 kB)
Collecting trl (from -r requirements.txt (line 22))
  Using cached trl-0.23.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: huggingface_hub in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 23)) (0.35.3)
Requirement already satisfied: filelock in c:\program files\python311\lib\site-packages (from transformers==4.39.0->-r requirements.txt (line 20)) (3.19.1)
Requirement already satisfied: numpy>=1.17 in c:\program files\python311\lib\site-packages (from transformers==4.39.0->-r requirements.txt (line 20)) (2.3.3)
Requirement already satisfied: packaging>=20.0 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from transformers==4.39.0->-r requirements.txt (line 20)) (25.0)
Requirement already satisfied: pyyaml>=5.1 in c:\program files\python311\lib\site-packages (from transformers==4.39.0->-r requirements.txt (line 20)) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in c:\program files\python311\lib\site-packages (from transformers==4.39.0->-r requirements.txt (line 20)) (2025.9.1)
Requirement already satisfied: requests in c:\program files\python311\lib\site-packages (from transformers==4.39.0->-r requirements.txt (line 20)) (2.32.5)
Collecting tokenizers<0.19,>=0.14 (from transformers==4.39.0->-r requirements.txt (line 20))
  Using cached tokenizers-0.15.2-cp311-none-win_amd64.whl.metadata (6.8 kB)
Requirement already satisfied: safetensors>=0.4.1 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from transformers==4.39.0->-r requirements.txt (line 20)) (0.6.2)
Requirement already satisfied: tqdm>=4.27 in c:\program files\python311\lib\site-packages (from transformers==4.39.0->-r requirements.txt (line 20)) (4.67.1)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from huggingface_hub->-r requirements.txt (line 23)) (2025.9.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from huggingface_hub->-r requirements.txt (line 23)) (4.15.0)
Requirement already satisfied: langchain-core<2.0.0,>=0.3.75 in c:\program files\python311\lib\site-packages (from langchain-community->-r requirements.txt (line 1)) (0.3.76)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\program files\python311\lib\site-packages (from langchain-community->-r requirements.txt (line 1)) (3.12.15)
Requirement already satisfied: tenacity!=8.4.0,<10,>=8.1.0 in c:\program files\python311\lib\site-packages (from langchain-community->-r requirements.txt (line 1)) (9.1.2)
Requirement already satisfied: dataclasses-json<0.7,>=0.6.7 in c:\program files\python311\lib\site-packages (from langchain-community->-r requirements.txt (line 1)) (0.6.7)
Requirement already satisfied: pydantic-settings<3.0.0,>=2.10.1 in c:\program files\python311\lib\site-packages (from langchain-community->-r requirements.txt (line 1)) (2.10.1)
Requirement already satisfied: langsmith>=0.1.125 in c:\program files\python311\lib\site-packages (from langchain-community->-r requirements.txt (line 1)) (0.4.28)
Requirement already satisfied: httpx-sse<1.0.0,>=0.4.0 in c:\program files\python311\lib\site-packages (from langchain-community->-r requirements.txt (line 1)) (0.4.1)
Requirement already satisfied: langchain-text-splitters<1.0.0,>=0.3.9 in c:\program files\python311\lib\site-packages (from langchain->-r requirements.txt (line 11)) (0.3.11)
Requirement already satisfied: pydantic<3.0.0,>=2.7.4 in c:\program files\python311\lib\site-packages (from langchain->-r requirements.txt (line 11)) (2.11.9)
Requirement already satisfied: greenlet>=1 in c:\program files\python311\lib\site-packages (from sqlalchemy->-r requirements.txt (line 13)) (3.2.4)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in c:\program files\python311\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community->-r requirements.txt (line 1)) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in c:\program files\python311\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community->-r requirements.txt (line 1)) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in c:\program files\python311\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community->-r requirements.txt (line 1)) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\program files\python311\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community->-r requirements.txt (line 1)) (1.7.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\program files\python311\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community->-r requirements.txt (line 1)) (6.6.4)
Requirement already satisfied: propcache>=0.2.0 in c:\program files\python311\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community->-r requirements.txt (line 1)) (0.3.2)
Requirement already satisfied: yarl<2.0,>=1.17.0 in c:\program files\python311\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community->-r requirements.txt (line 1)) (1.20.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in c:\program files\python311\lib\site-packages (from dataclasses-json<0.7,>=0.6.7->langchain-community->-r requirements.txt (line 1)) (3.26.1)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in c:\program files\python311\lib\site-packages (from dataclasses-json<0.7,>=0.6.7->langchain-community->-r requirements.txt (line 1)) (0.9.0)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\program files\python311\lib\site-packages (from langchain-core<2.0.0,>=0.3.75->langchain-community->-r requirements.txt (line 1)) (1.33)
Requirement already satisfied: jsonpointer>=1.9 in c:\program files\python311\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<2.0.0,>=0.3.75->langchain-community->-r requirements.txt (line 1)) (3.0.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\program files\python311\lib\site-packages (from pydantic<3.0.0,>=2.7.4->langchain->-r requirements.txt (line 11)) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\program files\python311\lib\site-packages (from pydantic<3.0.0,>=2.7.4->langchain->-r requirements.txt (line 11)) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\program files\python311\lib\site-packages (from pydantic<3.0.0,>=2.7.4->langchain->-r requirements.txt (line 11)) (0.4.1)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\program files\python311\lib\site-packages (from requests->transformers==4.39.0->-r requirements.txt (line 20)) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\program files\python311\lib\site-packages (from requests->transformers==4.39.0->-r requirements.txt (line 20)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\program files\python311\lib\site-packages (from requests->transformers==4.39.0->-r requirements.txt (line 20)) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\program files\python311\lib\site-packages (from requests->transformers==4.39.0->-r requirements.txt (line 20)) (2025.8.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\program files\python311\lib\site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.6.7->langchain-community->-r requirements.txt (line 1)) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python311\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\program files\python311\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in c:\program files\python311\lib\site-packages (from snowflake-connector-python->-r requirements.txt (line 4)) (1.5.1)
Requirement already satisfied: boto3>=1.24 in c:\program files\python311\lib\site-packages (from snowflake-connector-python->-r requirements.txt (line 4)) (1.40.33)
Requirement already satisfied: botocore>=1.24 in c:\program files\python311\lib\site-packages (from snowflake-connector-python->-r requirements.txt (line 4)) (1.40.33)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\program files\python311\lib\site-packages (from snowflake-connector-python->-r requirements.txt (line 4)) (1.17.1)
Requirement already satisfied: cryptography>=3.1.0 in c:\program files\python311\lib\site-packages (from snowflake-connector-python->-r requirements.txt (line 4)) (46.0.0)
Requirement already satisfied: pyOpenSSL<26.0.0,>=22.0.0 in c:\program files\python311\lib\site-packages (from snowflake-connector-python->-r requirements.txt (line 4)) (25.3.0)
Requirement already satisfied: pyjwt<3.0.0 in c:\program files\python311\lib\site-packages (from snowflake-connector-python->-r requirements.txt (line 4)) (2.10.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in c:\program files\python311\lib\site-packages (from snowflake-connector-python->-r requirements.txt (line 4)) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from snowflake-connector-python->-r requirements.txt (line 4)) (4.4.0)
Requirement already satisfied: tomlkit in c:\program files\python311\lib\site-packages (from snowflake-connector-python->-r requirements.txt (line 4)) (0.13.3)
Requirement already satisfied: pycparser in c:\program files\python311\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python->-r requirements.txt (line 4)) (2.23)
Requirement already satisfied: langgraph-checkpoint<3.0.0,>=2.1.0 in c:\program files\python311\lib\site-packages (from langgraph->-r requirements.txt (line 5)) (2.1.1)
Requirement already satisfied: langgraph-prebuilt<0.7.0,>=0.6.0 in c:\program files\python311\lib\site-packages (from langgraph->-r requirements.txt (line 5)) (0.6.4)
Requirement already satisfied: langgraph-sdk<0.3.0,>=0.2.2 in c:\program files\python311\lib\site-packages (from langgraph->-r requirements.txt (line 5)) (0.2.8)
Requirement already satisfied: xxhash>=3.5.0 in c:\program files\python311\lib\site-packages (from langgraph->-r requirements.txt (line 5)) (3.5.0)
Requirement already satisfied: ormsgpack>=1.10.0 in c:\program files\python311\lib\site-packages (from langgraph-checkpoint<3.0.0,>=2.1.0->langgraph->-r requirements.txt (line 5)) (1.10.0)
Requirement already satisfied: httpx>=0.25.2 in c:\program files\python311\lib\site-packages (from langgraph-sdk<0.3.0,>=0.2.2->langgraph->-r requirements.txt (line 5)) (0.28.1)
Requirement already satisfied: orjson>=3.10.1 in c:\program files\python311\lib\site-packages (from langgraph-sdk<0.3.0,>=0.2.2->langgraph->-r requirements.txt (line 5)) (3.11.3)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<6,>=4.0 in c:\program files\python311\lib\site-packages (from streamlit->-r requirements.txt (line 6)) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in c:\program files\python311\lib\site-packages (from streamlit->-r requirements.txt (line 6)) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in c:\program files\python311\lib\site-packages (from streamlit->-r requirements.txt (line 6)) (6.2.0)
Requirement already satisfied: click<9,>=7.0 in c:\program files\python311\lib\site-packages (from streamlit->-r requirements.txt (line 6)) (8.3.0)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\program files\python311\lib\site-packages (from streamlit->-r requirements.txt (line 6)) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in c:\program files\python311\lib\site-packages (from streamlit->-r requirements.txt (line 6)) (6.32.1)
Requirement already satisfied: pyarrow>=7.0 in c:\program files\python311\lib\site-packages (from streamlit->-r requirements.txt (line 6)) (21.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\program files\python311\lib\site-packages (from streamlit->-r requirements.txt (line 6)) (0.10.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\program files\python311\lib\site-packages (from streamlit->-r requirements.txt (line 6)) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\program files\python311\lib\site-packages (from streamlit->-r requirements.txt (line 6)) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\program files\python311\lib\site-packages (from streamlit->-r requirements.txt (line 6)) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from streamlit->-r requirements.txt (line 6)) (6.5.2)
Requirement already satisfied: jinja2 in c:\program files\python311\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit->-r requirements.txt (line 6)) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\program files\python311\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit->-r requirements.txt (line 6)) (4.25.1)
Requirement already satisfied: narwhals>=1.14.2 in c:\program files\python311\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit->-r requirements.txt (line 6)) (2.5.0)
Requirement already satisfied: colorama in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from click<9,>=7.0->streamlit->-r requirements.txt (line 6)) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\program files\python311\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 6)) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\program files\python311\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 6)) (5.0.2)
Requirement already satisfied: anyio<5,>=3.5.0 in c:\program files\python311\lib\site-packages (from openai->-r requirements.txt (line 7)) (4.10.0)
Requirement already satisfied: distro<2,>=1.7.0 in c:\program files\python311\lib\site-packages (from openai->-r requirements.txt (line 7)) (1.9.0)
Requirement already satisfied: jiter<1,>=0.4.0 in c:\program files\python311\lib\site-packages (from openai->-r requirements.txt (line 7)) (0.11.0)
Requirement already satisfied: sniffio in c:\program files\python311\lib\site-packages (from openai->-r requirements.txt (line 7)) (1.3.1)
Requirement already satisfied: httpcore==1.* in c:\program files\python311\lib\site-packages (from httpx>=0.25.2->langgraph-sdk<0.3.0,>=0.2.2->langgraph->-r requirements.txt (line 5)) (1.0.9)
Requirement already satisfied: h11>=0.16 in c:\program files\python311\lib\site-packages (from httpcore==1.*->httpx>=0.25.2->langgraph-sdk<0.3.0,>=0.2.2->langgraph->-r requirements.txt (line 5)) (0.16.0)
Requirement already satisfied: psutil in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from accelerate->-r requirements.txt (line 14)) (7.1.0)
INFO: pip is looking at multiple versions of langchain-huggingface to determine which version is compatible with other requirements. This could take a while.
Collecting langchain_huggingface (from -r requirements.txt (line 16))
  Using cached langchain_huggingface-0.3.0-py3-none-any.whl.metadata (996 bytes)
  Using cached langchain_huggingface-0.2.0-py3-none-any.whl.metadata (941 bytes)
  Using cached langchain_huggingface-0.1.2-py3-none-any.whl.metadata (1.3 kB)
Collecting sentence-transformers>=2.6.0 (from langchain_huggingface->-r requirements.txt (line 16))
  Using cached sentence_transformers-5.1.1-py3-none-any.whl.metadata (16 kB)
Collecting langchain_huggingface (from -r requirements.txt (line 16))
  Using cached langchain_huggingface-0.1.1-py3-none-any.whl.metadata (1.3 kB)
  Using cached langchain_huggingface-0.1.0-py3-none-any.whl.metadata (1.3 kB)
  Using cached langchain_huggingface-0.0.3-py3-none-any.whl.metadata (1.2 kB)
  Using cached langchain_huggingface-0.0.2-py3-none-any.whl.metadata (1.2 kB)
INFO: pip is still looking at multiple versions of langchain-huggingface to determine which version is compatible with other requirements. This could take a while.
  Using cached langchain_huggingface-0.0.1-py3-none-any.whl.metadata (1.2 kB)
Collecting langchain-experimental (from -r requirements.txt (line 12))
  Using cached langchain_experimental-0.3.4-py3-none-any.whl.metadata (1.7 kB)
INFO: This is taking longer than usual. You might need to provide the dependency resolver with stricter constraints to reduce runtime. See https://pip.pypa.io/warnings/backtracking for guidance. If you want to abort this run, press Ctrl + C.
  Using cached langchain_experimental-0.3.3-py3-none-any.whl.metadata (1.7 kB)
  Using cached langchain_experimental-0.3.2-py3-none-any.whl.metadata (1.7 kB)

error: resolution-too-deep

× Dependency resolution exceeded maximum depth
╰─> Pip cannot resolve the current dependencies as the dependency graph is too complex for pip to solve efficiently.

hint: Try adding lower bounds to constrain your dependencies, for example: 'package>=2.0.0' instead of just 'package'.

Link: https://pip.pypa.io/en/stable/topics/dependency-resolution/#handling-resolution-too-deep-errors

In [92]:
import os
import shutil
import sqlite3

import pandas as pd
import requests

db_url = "https://storage.googleapis.com/benchmarks-artifacts/travel-db/travel2.sqlite"
local_file = "travel2.sqlite"
# The backup lets us restart for each tutorial section
backup_file = "travel2.backup.sqlite"
overwrite = False
if overwrite or not os.path.exists(local_file):
    response = requests.get(db_url)
    response.raise_for_status()  # Ensure the request was successful
    with open(local_file, "wb") as f:
        f.write(response.content)
    # Backup - we will use this to "reset" our DB in each section
    shutil.copy(local_file, backup_file)

In [ ]:
# Convert the flights to present time for our tutorial
def update_dates(file):
    shutil.copy(backup_file, file)
    conn = sqlite3.connect(file)
    cursor = conn.cursor()

    tables = pd.read_sql(
        "SELECT name FROM sqlite_master WHERE type='table';", conn
    ).name.tolist()
    tdf = {}
    for t in tables:
        tdf[t] = pd.read_sql(f"SELECT * from {t}", conn)

    example_time = pd.to_datetime(
        tdf["flights"]["actual_departure"].replace("\\N", pd.NaT)
    ).max()
    current_time = pd.to_datetime("now").tz_localize(example_time.tz)
    time_diff = current_time - example_time

    tdf["bookings"]["book_date"] = (
        pd.to_datetime(tdf["bookings"]["book_date"].replace("\\N", pd.NaT), utc=True)
        + time_diff
    )

    datetime_columns = [
        "scheduled_departure",
        "scheduled_arrival",
        "actual_departure",
        "actual_arrival",
    ]
    for column in datetime_columns:
        tdf["flights"][column] = (
            pd.to_datetime(tdf["flights"][column].replace("\\N", pd.NaT)) + time_diff
        )

    for table_name, df in tdf.items():
        df.to_sql(table_name, conn, if_exists="replace", index=False)
    del df
    del tdf
    conn.commit()

    return file


db = update_dates(local_file)

In [80]:
db

'travel2.sqlite'

In [81]:
conn = sqlite3.connect(local_file)
cursor = conn.cursor()

tables = pd.read_sql(
        "SELECT name FROM sqlite_master WHERE type='table';", conn
    ).name.tolist()

In [82]:
tables

['aircrafts_data',
 'airports_data',
 'boarding_passes',
 'bookings',
 'flights',
 'seats',
 'ticket_flights',
 'tickets',
 'car_rentals',
 'hotels',
 'trip_recommendations']

In [131]:
pd.read_sql(f"SELECT * from flights WHERE departure_airport = 'JFK' AND status = 'Scheduled'", conn)

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival
0,21314,TP0020,2025-10-20 18:35:25.335891-04:00,2025-10-20 20:45:25.335891-04:00,JFK,BSL,Scheduled,CR2,None,None
1,21315,TP0020,2025-10-25 18:35:25.335891-04:00,2025-10-25 20:45:25.335891-04:00,JFK,BSL,Scheduled,CR2,None,None
2,21316,TP0020,2025-11-10 18:35:25.335891-04:00,2025-11-10 20:45:25.335891-04:00,JFK,BSL,Scheduled,CR2,None,None
3,21321,TP0020,2025-10-29 18:35:25.335891-04:00,2025-10-29 20:45:25.335891-04:00,JFK,BSL,Scheduled,CR2,None,None
4,21322,TP0020,2025-11-08 18:35:25.335891-04:00,2025-11-08 20:45:25.335891-04:00,JFK,BSL,Scheduled,CR2,None,None
...,...,...,...,...,...,...,...,...,...,...
66,21456,KL0134,2025-10-24 14:20:25.335891-04:00,2025-10-24 15:15:25.335891-04:00,JFK,ARN,Scheduled,CR2,None,None
67,21465,KL0134,2025-10-29 14:20:25.335891-04:00,2025-10-29 15:15:25.335891-04:00,JFK,ARN,Scheduled,CR2,None,None
68,21466,KL0134,2025-11-05 14:20:25.335891-04:00,2025-11-05 15:15:25.335891-04:00,JFK,ARN,Scheduled,CR2,None,None
69,21467,KL0134,2025-11-01 14:20:25.335891-04:00,2025-11-01 15:15:25.335891-04:00,JFK,ARN,Scheduled,CR2,None,None
70,21468,KL0134,2025-11-10 14:20:25.335891-04:00,2025-11-10 15:15:25.335891-04:00,JFK,ARN,Scheduled,CR2,None,None

In [137]:
pd.read_sql(f"SELECT sum(total_amount) FROM bookings WHERE book_date LIKE '2025-10-01%'",conn)

   sum(total_amount)
0          443804500

In [143]:
pd.read_sql(f"SELECT departure_airport, arrival_airport, COUNT(*) AS total_scheduled_flights FROM flights WHERE status = 'Scheduled' GROUP BY departure_airport, arrival_airport ORDER BY total_scheduled_flights DESC LIMIT 10",conn)

  departure_airport arrival_airport  total_scheduled_flights
0               OSL             HAM                      147
1               HAM             OSL                      146
2               BSL             HAM                      117
3               HAM             BSL                      117
4               BNE             OSL                       89
5               BNE             BSL                       88
6               BNE             SHA                       87
7               HAM             SHA                       87
8               OSL             BNE                       87
9               SHA             BNE                       87

In [142]:
pd.read_sql(f"SELECT departure_airport, arrival_airport, COUNT(*) AS total_scheduled_flights FROM flights WHERE status = 'Scheduled' GROUP BY departure_airport, arrival_airport ORDER BY total_scheduled_flights DESC", conn)

    departure_airport arrival_airport  total_scheduled_flights
0                 OSL             HAM                      147
1                 HAM             OSL                      146
2                 BSL             HAM                      117
3                 HAM             BSL                      117
4                 BNE             OSL                       89
..                ...             ...                      ...
613               SAW             OSL                        3
614               SHA             LAD                        3
615               SHA             LGW                        3
616               SLC             PNH                        3
617               SYD             ATL                        3

[618 rows x 3 columns]

In [136]:
pd.read_sql(f"SELECT * FROM bookings where book_date between '2025-10-01%' and '2025-10-03%'",conn)

      book_ref                         book_date  total_amount
0       0006C3  2025-10-02 15:47:25.335891+00:00         59400
1       000F7D  2025-10-02 13:23:25.335891+00:00         20600
2       0018AB  2025-10-03 07:34:25.335891+00:00        277600
3       001A4A  2025-10-02 08:36:25.335891+00:00         35900
4       001F27  2025-10-03 23:15:25.335891+00:00         39700
...        ...                               ...           ...
11117   FFE6D2  2025-10-02 08:47:25.335891+00:00        123800
11118   FFEFBB  2025-10-02 05:41:25.335891+00:00         56000
11119   FFF1FD  2025-10-02 01:10:25.335891+00:00         82900
11120   FFF840  2025-10-02 21:21:25.335891+00:00         43600
11121   FFFA98  2025-10-02 04:08:25.335891+00:00        199700

[11122 rows x 3 columns]

In [ ]:
pd.read_sql(f"SELECT * FROM airports_data",conn)

,airport_code,airport_name,city,coordinates,timezone
0,ATL,Hartsfield-Jackson Atlanta International Airport,Atlanta,"[33.6407, -84.4277]",America/New_York
1,PEK,Beijing Capital International Airport,Beijing,"[40.0799, 116.6031]",Asia/Shanghai
2,DXB,Dubai International Airport,Dubai,"[25.2532, 55.3657]",Asia/Dubai
3,LAX,Los Angeles International Airport,Los Angeles,"[33.9416, -118.4085]",America/Los_Angeles
4,HND,Tokyo Haneda Airport,Tokyo,"[35.5494, 139.7798]",Asia/Tokyo
...,...,...,...,...,...
110,JRO,Kilimanjaro International Airport,Arusha,"[-3.4294, 37.0741]",Africa/Dar_es_Salaam
111,SEZ,Seychelles International Airport,Victoria,"[-4.6717, 55.5122]",Indian/Mahe
112,HRE,Robert Gabriel Mugabe International Airport,Harare,"[-17.9319, 31.0929]",Africa/Harare
113,LAD,Quatro de Fevereiro International Airport,Luanda,"[-8.8575, 13.2306]",Africa/Luanda
114,DKR,Blaise Diagne International Airport,Dakar,"[14.6698, -17.0733]",Africa/Dakar

In [123]:
pd.read_sql(f"SELECT sum(total_amount) FROM bookings WHERE book_date like '2025-10-01%'", conn)

   sum(total_amount)
0          443804500

In [121]:
pd.read_sql(f"SELECT * FROM bookings", conn)

       book_ref                         book_date  total_amount
0        00000F  2025-09-04 07:17:25.335891+00:00        265700
1        000012  2025-09-13 13:07:25.335891+00:00         37900
2        000068  2025-10-15 18:32:25.335891+00:00         18100
3        000181  2025-10-10 17:33:25.335891+00:00        131800
4        0002D8  2025-10-08 01:45:25.335891+00:00         23600
...         ...                               ...           ...
262783   FFFEF3  2025-09-16 11:28:25.335891+00:00         56000
262784   FFFF2C  2025-10-08 10:00:25.335891+00:00         10800
262785   FFFF43  2025-09-20 00:47:25.335891+00:00         78500
262786   FFFFA8  2025-10-08 08:50:25.335891+00:00         28800
262787   FFFFF7  2025-09-01 02:17:25.335891+00:00         73600

[262788 rows x 3 columns]

In [125]:
pd.read_sql(f"SELECT * from tickets", conn)

               ticket_no book_ref passenger_id
0       9880005432000987   06B046  8149 604011
1       9880005432000988   06B046  8499 420203
2       9880005432000989   E170C3  1011 752484
3       9880005432000990   E170C3  4849 400049
4       9880005432000991   F313DD  6615 976589
...                  ...      ...          ...
366728  1760005435999869   D730BA  0474 690760
366729  1760005435999870   D730BA  6535 751108
366730  1760005435999871   A1AD46  1596 156448
366731  0060005435999872   7B6A53  9374 822707
366732  0060005435999873   7B6A53  7380 075822

[366733 rows x 3 columns]

In [134]:
pd.read_sql(f"SELECT model, range FROM aircrafts_data WHERE range > 5000", conn)

             model  range
0   Boeing 777-300  11100
1   Boeing 767-300   7900
2  Airbus A320-200   5700
3  Airbus A321-200   5600
4  Airbus A319-100   6700

In [128]:
pd.read_sql(f"SELECT * from aircrafts_data", conn)

  aircraft_code                model  range
0           773       Boeing 777-300  11100
1           763       Boeing 767-300   7900
2           SU9  Sukhoi Superjet-100   3000
3           320      Airbus A320-200   5700
4           321      Airbus A321-200   5600
5           319      Airbus A319-100   6700
6           733       Boeing 737-300   4200
7           CN1   Cessna 208 Caravan   1200
8           CR2   Bombardier CRJ-200   2700

In [127]:
pd.read_sql(f"SELECT * from seats", conn)

     aircraft_code seat_no fare_conditions
0              319      2A        Business
1              319      2C        Business
2              319      2D        Business
3              319      2F        Business
4              319      3A        Business
...            ...     ...             ...
1334           773     48H         Economy
1335           773     48K         Economy
1336           773     49A         Economy
1337           773     49C         Economy
1338           773     49D         Economy

[1339 rows x 3 columns]

In [126]:
pd.read_sql(f"SELECT * from ticket_flights", conn)

                ticket_no  flight_id fare_conditions  amount
0        0060005432159776      30625        Business   42100
1        0060005435212351      30625        Business   42100
2        0060005435212386      30625        Business   42100
3        0060005435212381      30625        Business   42100
4        0060005432211370      30625        Business   42100
...                   ...        ...             ...     ...
1045721  2350005435097522      32094         Economy    5200
1045722  2350005435097521      32094         Economy    5200
1045723  2200005435104384      32094         Economy    5200
1045724  2200005435104352      32094         Economy    5200
1045725  2200005435104389      32094         Economy    5200

[1045726 rows x 4 columns]

In [124]:
pd.read_sql(f"SELECT * from car_rentals", conn)

   id        name location price_tier  start_date    end_date  booked
0   1    Europcar    Basel    Economy  2024-04-14  2024-04-11       1
1   2        Avis    Basel     Luxury  2024-04-10  2024-04-20       1
2   3       Hertz   Zurich    Midsize  2024-04-10  2024-04-07       1
3   4        Sixt     Bern        SUV  2024-04-20  2024-04-26       1
4   5      Budget  Lucerne    Compact  2024-04-01  2024-04-19       1
5   6       Alamo   Geneva  Full-size  2024-04-27  2024-04-18       1
6   7  Enterprise    Basel    Premium  2024-04-22  2024-04-20       0
7   8    National   Zurich    Economy  2024-04-08  2024-04-21       0
8   9     Thrifty    Basel    Midsize  2024-04-17  2024-04-26       0
9  10      Dollar     Bern    Compact  2024-04-23  2024-04-03       0

In [84]:
tdf = {}
for t in tables:
        tdf[t] = pd.read_sql(f"SELECT * from {t}", conn)

In [85]:
pd.read_sql(f"SELECT * from airports_data", conn)

,airport_code,airport_name,city,coordinates,timezone
0,ATL,Hartsfield-Jackson Atlanta International Airport,Atlanta,"[33.6407, -84.4277]",America/New_York
1,PEK,Beijing Capital International Airport,Beijing,"[40.0799, 116.6031]",Asia/Shanghai
2,DXB,Dubai International Airport,Dubai,"[25.2532, 55.3657]",Asia/Dubai
3,LAX,Los Angeles International Airport,Los Angeles,"[33.9416, -118.4085]",America/Los_Angeles
4,HND,Tokyo Haneda Airport,Tokyo,"[35.5494, 139.7798]",Asia/Tokyo
...,...,...,...,...,...
110,JRO,Kilimanjaro International Airport,Arusha,"[-3.4294, 37.0741]",Africa/Dar_es_Salaam
111,SEZ,Seychelles International Airport,Victoria,"[-4.6717, 55.5122]",Indian/Mahe
112,HRE,Robert Gabriel Mugabe International Airport,Harare,"[-17.9319, 31.0929]",Africa/Harare
113,LAD,Quatro de Fevereiro International Airport,Luanda,"[-8.8575, 13.2306]",Africa/Luanda
114,DKR,Blaise Diagne International Airport,Dakar,"[14.6698, -17.0733]",Africa/Dakar

In [86]:
pd.read_sql(f"SELECT * from boarding_passes", conn)

               ticket_no  flight_id  boarding_no seat_no
0       0060005435212351      30625            1      2D
1       0060005435212386      30625            2      3G
2       0060005435212381      30625            3      4H
3       0060005432211370      30625            4      5D
4       0060005435212357      30625            5     11A
...                  ...        ...          ...     ...
579681  0060005434302871      19945           85     20F
579682  7840005432892791      19945           86     21C
579683  0060005434302869      19945           87     20E
579684  1310005432802476      19945           88     21F
579685  1310005432802482      19945           89     21E

[579686 rows x 4 columns]

In [ ]:
import sqlite3

conn = sqlite3.connect("travel2.sqlite")
cursor = conn.cursor()

# Correct way to update
cursor.execute("UPDATE hotels SET booked = 1 WHERE id in(1,2,3,4,5,6)")
cursor.execute("UPDATE trip_recommendations SET booked = 1 WHERE id in(1,2,3,4,5,6)")
cursor.execute("UPDATE car_rentals SET booked = 1 WHERE id in(1,2,3,4,5,6)")
# Commit changes
conn.commit()

In [105]:
pd.read_sql(f"SELECT * FROM hotels where booked=1", conn)

,id,name,location,price_tier,checkin_date,checkout_date,booked
0,1,Hilton Basel,Basel,Luxury,2024-04-22,2024-04-20,1
1,2,Marriott Zurich,Zurich,Upscale,2024-04-14,2024-04-21,1
2,3,Hyatt Regency Basel,Basel,Upper Upscale,2024-04-02,2024-04-20,1
3,4,Radisson Blu Lucerne,Lucerne,Midscale,2024-04-24,2024-04-05,1
4,5,Best Western Bern,Bern,Upper Midscale,2024-04-23,2024-04-01,1
5,6,InterContinental Geneva,Geneva,Luxury,2024-04-23,2024-04-28,1

In [101]:
pd.read_sql(f"SELECT T1.id, T1.name FROM hotels AS T1 JOIN trip_recommendations AS T2 ON T1.id = T2.id WHERE T2.location = 'Basel'", conn)

   id               name
0   1       Hilton Basel
1   2    Marriott Zurich
2   8  Holiday Inn Basel

In [107]:
pd.read_sql(f"SELECT location, COUNT(*) AS total_booked_hotels FROM hotels WHERE booked = 1 GROUP BY location HAVING COUNT(*) >= 2", conn)

  location  total_booked_hotels
0    Basel                    2

In [111]:
pd.read_sql(f"SELECT T1.name FROM hotels AS T1 JOIN trip_recommendations AS T2 ON T1.id = T2.id WHERE T2.location = 'Basel'",conn)

                name
0       Hilton Basel
1    Marriott Zurich
2  Holiday Inn Basel

In [112]:
pd.read_sql(f"SELECT T1.name FROM hotels AS T1 JOIN trip_recommendations AS T2 ON T1.id = T2.id WHERE T2.location = 'Zurich'",conn)

                  name
0  Hyatt Regency Basel
1      Sheraton Zurich

In [96]:
pd.read_sql(f"SELECT h.name AS hotel_name, h.location, t.name AS recommendation_name, t.keywords, t.details FROM hotels h JOIN trip_recommendations t ON h.location = t.location WHERE h.booked = 1", conn)

,hotel_name,location,recommendation_name,keywords,details
0,Hilton Basel,Basel,Basel Minster,"landmark, history","Visit the historic Basel Minster, a beautiful ..."
1,Hilton Basel,Basel,Basel Zoo,"wildlife, zoo",Spend a day exploring the diverse animal exhib...
2,Hilton Basel,Basel,Kunstmuseum Basel,"art, museum",Explore the extensive art collection at the Ku...
3,Marriott Zurich,Zurich,Swiss National Museum,"history, museum",Learn about Swiss history and culture at the S...
4,Marriott Zurich,Zurich,Zurich Old Town,"history, architecture",Take a stroll through the charming streets of ...
5,Hyatt Regency Basel,Basel,Basel Minster,"landmark, history","Visit the historic Basel Minster, a beautiful ..."
6,Hyatt Regency Basel,Basel,Basel Zoo,"wildlife, zoo",Spend a day exploring the diverse animal exhib...
7,Hyatt Regency Basel,Basel,Kunstmuseum Basel,"art, museum",Explore the extensive art collection at the Ku...
8,Radisson Blu Lucerne,Lucerne,Lucerne Chapel Bridge,"landmark, history",Walk across the iconic Chapel Bridge in Lucerne.
9,Radisson Blu Lucerne,Lucerne,Mount Pilatus,"nature, mountain",Take a cable car ride to the top of Mount Pila...
10,Best Western Bern,Bern,Bern Bear Park,"wildlife, park",Visit the Bern Bear Park and see the city's fa...
11,Best Western Bern,Bern,Bern Cathedral,"landmark, history","Visit the impressive Bern Cathedral, a stunnin..."
12,InterContinental Geneva,Geneva,Lake Geneva,"nature, lake",Enjoy stunning views of Lake Geneva and the su...

In [90]:
pd.read_sql(f"SELECT * from bookings", conn)

       book_ref                         book_date  total_amount
0        00000F  2025-09-04 02:28:23.316556+00:00        265700
1        000012  2025-09-13 08:18:23.316556+00:00         37900
2        000068  2025-10-15 13:43:23.316556+00:00         18100
3        000181  2025-10-10 12:44:23.316556+00:00        131800
4        0002D8  2025-10-07 20:56:23.316556+00:00         23600
...         ...                               ...           ...
262783   FFFEF3  2025-09-16 06:39:23.316556+00:00         56000
262784   FFFF2C  2025-10-08 05:11:23.316556+00:00         10800
262785   FFFF43  2025-09-19 19:58:23.316556+00:00         78500
262786   FFFFA8  2025-10-08 04:01:23.316556+00:00         28800
262787   FFFFF7  2025-08-31 21:28:23.316556+00:00         73600

[262788 rows x 3 columns]

In [71]:
import sqlite3

conn = sqlite3.connect("travel2.sqlite")
cursor = conn.cursor()

# Make some hotels share city names with airports_data.city for joining possibilities
# cursor.execute("UPDATE hotels SET location='Moscow' WHERE id IN (1,2)")
# cursor.execute("UPDATE hotels SET location='London' WHERE id IN (3,4)")
# cursor.execute("UPDATE hotels SET location='New York' WHERE id IN (5,6)")

# Ensure trip_recommendations cities match some hotel cities
# cursor.execute("UPDATE trip_recommendations SET location='Moscow' WHERE id IN (1,2)")
# cursor.execute("UPDATE trip_recommendations SET location='London' WHERE id IN (3,4)")
# cursor.execute("UPDATE trip_recommendations SET location='New York' WHERE id IN (5,6)")

# cursor.execute("UPDATE car_rentals SET location='Moscow' WHERE id IN (1,2)")
# cursor.execute("UPDATE car_rentals SET location='London' WHERE id IN (3,4)")
# cursor.execute("UPDATE car_rentals SET location='New York' WHERE id IN (5,6)")

conn.commit()
# conn.close()

In [72]:
pd.read_sql(f"SELECT * from hotels", conn)

,id,name,location,price_tier,checkin_date,checkout_date,booked
0,1,Hilton Basel,Basel,Luxury,2024-04-22,2024-04-20,1
1,2,Marriott Zurich,Zurich,Upscale,2024-04-14,2024-04-21,1
2,3,Hyatt Regency Basel,Basel,Upper Upscale,2024-04-02,2024-04-20,1
3,4,Radisson Blu Lucerne,Lucerne,Midscale,2024-04-24,2024-04-05,1
4,5,Best Western Bern,Bern,Upper Midscale,2024-04-23,2024-04-01,1
5,6,InterContinental Geneva,Geneva,Luxury,2024-04-23,2024-04-28,1
6,7,Sheraton Zurich,Zurich,Upper Upscale,2024-04-27,2024-04-02,0
7,8,Holiday Inn Basel,Basel,Upper Midscale,2024-04-24,2024-04-09,0
8,9,Courtyard Zurich,Zurich,Upscale,2024-04-03,2024-04-13,0
9,10,Comfort Inn Bern,Bern,Midscale,2024-04-04,2024-04-16,0

In [73]:
pd.read_sql(f"SELECT * from trip_recommendations", conn)

,id,name,location,keywords,details,booked
0,1,Basel Minster,Basel,"landmark, history","Visit the historic Basel Minster, a beautiful ...",1
1,2,Kunstmuseum Basel,Basel,"art, museum",Explore the extensive art collection at the Ku...,1
2,3,Zurich Old Town,Zurich,"history, architecture",Take a stroll through the charming streets of ...,1
3,4,Lucerne Chapel Bridge,Lucerne,"landmark, history",Walk across the iconic Chapel Bridge in Lucerne.,1
4,5,Bern Bear Park,Bern,"wildlife, park",Visit the Bern Bear Park and see the city's fa...,1
5,6,Lake Geneva,Geneva,"nature, lake",Enjoy stunning views of Lake Geneva and the su...,1
6,7,Swiss National Museum,Zurich,"history, museum",Learn about Swiss history and culture at the S...,0
7,8,Basel Zoo,Basel,"wildlife, zoo",Spend a day exploring the diverse animal exhib...,0
8,9,Mount Pilatus,Lucerne,"nature, mountain",Take a cable car ride to the top of Mount Pila...,0
9,10,Bern Cathedral,Bern,"landmark, history","Visit the impressive Bern Cathedral, a stunnin...",0

In [74]:
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

model_path = 'gaussalgo/T5-LM-Large-text2sql-spider'
model = AutoModelForSeq2SeqLM.from_pretrained(model_path)
tokenizer = AutoTokenizer.from_pretrained(model_path)

question = "What is the average, minimum, and maximum age for all French musicians?"
schema = """
   "stadium" "Stadium_ID" int , "Location" text , "Name" text , "Capacity" int , "Highest" int , "Lowest" int , "Average" int , foreign_key:  primary key: "Stadium_ID" [SEP] "singer" "Singer_ID" int , "Name" text , "Country" text , "Song_Name" text , "Song_release_year" text , "Age" int , "Is_male" bool , foreign_key:  primary key: "Singer_ID" [SEP] "concert" "concert_ID" int , "concert_Name" text , "Theme" text , "Year" text , foreign_key: "Stadium_ID" text from "stadium" "Stadium_ID" , primary key: "concert_ID" [SEP] "singer_in_concert"  foreign_key: "concert_ID" int from "concert" "concert_ID" , "Singer_ID" text from "singer" "Singer_ID" , primary key: "concert_ID" "Singer_ID"
"""

input_text = " ".join(["Question: ",question, "Schema:", schema])

model_inputs = tokenizer(input_text, return_tensors="pt")
outputs = model.generate(**model_inputs, max_length=512)

output_text = tokenizer.batch_decode(outputs, skip_special_tokens=True)

print("SQL Query:")
print(output_text)

SQL Query:
["SELECT avg(age), min(age), max(age) FROM singer WHERE country = 'France'"]

In [75]:
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer
import torch

MODEL_PATH = 'gaussalgo/T5-LM-Large-text2sql-spider'
model = AutoModelForSeq2SeqLM.from_pretrained(MODEL_PATH)
tokenizer = AutoTokenizer.from_pretrained(MODEL_PATH)

# Function to generate SQL dynamically
def generate_sql(schema_description: str, question: str) -> str:
    """
    Generate SQL from natural language question using T5 model.
    """
    input_text = f"Schema: {schema_description}\nQuestion: {question}"

    inputs = tokenizer(input_text, return_tensors="pt", truncation=True, max_length=512)

    with torch.no_grad():
        outputs = model.generate(
            **inputs,
            max_length=256,
            num_beams=4,
            early_stopping=True,
        )

    sql = tokenizer.decode(outputs[0], skip_special_tokens=True)
    sql = sql.strip().replace("\n", " ")

    if sql.lower().startswith("sql"):
        sql = sql.split(":", 1)[-1].strip()

    return sql


def run_query(sql_query: str):
    """
    Execute the generated SQL on the SQLite database.
    Returns DataFrame of results or error message.
    """
    conn = sqlite3.connect(local_file)
    try:
        df = pd.read_sql_query(sql_query, conn)
        return df
    except Exception as e:
        return f"Error executing SQL: {e}"
    finally:
        conn.close()

In [76]:
!pip install import-ipynb

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: import-ipynb in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (0.2)
Requirement already satisfied: IPython in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from import-ipynb) (9.5.0)
Requirement already satisfied: nbformat in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from import-ipynb) (5.10.4)
Requirement already satisfied: colorama in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from IPython->import-ipynb) (0.4.6)
Requirement already satisfied: decorator in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from IPython->import-ipynb) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from IPython->import-ipynb) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from IPython->import-ipynb) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from IPython->import-ipynb) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from IPython->import-ipynb) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from IPython->import-ipynb) (2.19.2)
Requirement already satisfied: stack_data in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from IPython->import-ipynb) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from IPython->import-ipynb) (5.14.3)
Requirement already satisfied: typing_extensions>=4.6 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from IPython->import-ipynb) (4.15.0)
Requirement already satisfied: wcwidth in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->IPython->import-ipynb) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from jedi>=0.16->IPython->import-ipynb) (0.8.5)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from nbformat->import-ipynb) (2.21.2)
Requirement already satisfied: jsonschema>=2.6 in c:\program files\python311\lib\site-packages (from nbformat->import-ipynb) (4.25.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from nbformat->import-ipynb) (5.8.1)
Requirement already satisfied: attrs>=22.2.0 in c:\program files\python311\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\program files\python311\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in c:\program files\python311\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\program files\python311\lib\site-packages (from jsonschema>=2.6->nbformat->import-ipynb) (0.27.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat->import-ipynb) (4.4.0)
Requirement already satisfied: pywin32>=300 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat->import-ipynb) (311)
Requirement already satisfied: executing>=1.2.0 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from stack_data->IPython->import-ipynb) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from stack_data->IPython->import-ipynb) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\mohamed.a\appdata\roaming\python\python311\site-packages (from stack_data->IPython->import-ipynb) (0.2.3)